
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
  }
  header {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
  }
  main {
    max-width: 900px;
    margin: 2rem auto;
    padding: 1rem;
  }

  .cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
  }

/*   .card {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  width: 250px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1rem;
  text-align: center;
  color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
  background-size: cover;
  background-position: center;
} */

.card::before {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.586), rgba(0, 0, 0, 0.367));
  z-index: 0;
}

.card * {
  position: relative;
  z-index: 1;
}

.card:hover {
  transform: scale(1.05);
}

.card a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

